body {
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.btn{
  background-color: transparent;
  text-transform: none;
  color: #000000;
}

.btn:hover {
  background-color: transparent;
}

.eliminar{
  border: 2px solid #b71c1c;
}

.eliminar:hover{
  background-color: #b71c1c;
  color: #ffffff;
}

.actualizar{
  border: 2px solid #00796b;
}

.actualizar:hover{
  background-color: #00796b;
  color: #ffffff;
}


.guardar{
  border: 2px solid #0277bd;
}

.guardar:hover{
  background-color: #0277bd;
  color: #ffffff;
}

table{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.marg{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

th{   
  border-top: solid 1px #e0e0e0;
  border-right: solid 1px #e0e0e0; 
  border-left: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
}

td {
  width: 10px;
  border-right: solid 1px #e0e0e0; 
  border-left: solid 1px #e0e0e0;
  border-bottom: solid 1px #e0e0e0;
}
