body {
  font-family: sans-serif;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.btn{
  background-color: transparent;
  text-transform: none;
  color: #000000;
}

.btn:hover {
  background-color: transparent;
}

.eliminar{
  border: 2px solid #b71c1c;
}

.eliminar:hover{
  background-color: #b71c1c;
  color: #ffffff;
}

.actualizar{
  border: 2px solid #00796b;
}

.actualizar:hover{
  background-color: #00796b;
  color: #ffffff;
}